@{
    ViewData["Title"] = "Pagina Principala";
}

<div class="jumbotron">
    <h1>UBB University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bun venit la UBB!</h2>
        <p>
            UBB este una dintre cele mai mari universitati din Romania.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Facultati</h2>
        <p>Gasesti la UBB cele mai multe facultati din Romania.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">vezi facultati &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Acceseaza site-ul oficial</h2>
        <p>Vezi mai multe detalii.</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">vezi note &raquo;</a></p>
    </div>
</div>